# This variable is needed for the alert system to work properly.

# If set to true, it will only show the best matching alerts. (e.g. if a temperature alert is set for 25°C and one for 30°C, it will only show the 30°C alert if the temperature is above 30°C)
# If set to false, it will show all matching alerts.

NEXT_PUBLIC_ALERT_BEST_MATCH_ONLY=true # true/false